.avatar-marging {
    margin-left: 10px;
}

.question-card-quizz {
    width: 50%;
    margin: 2.5vh auto;
    height: 80vh;
}

.radio-question {    
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 10px;
}
