.login-card-quizz {
    width: 50%;
    margin: 5vh auto;
    height: 50vh;
}

.card-contents {
    margin-top: 100px;
}

.center-card-element {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}